# dependencies
node_modules
.pnp
.pnp.js

# build outputs
dist
build
.next
out

# app dist folders
apps/web-public/.next
apps/admin-portal/dist
apps/client-portal/dist
apps/vendor-portal/dist
apps/admin-portal/dist.zip
apps/client-portal/dist.zip
apps/vendor-portal/dist.zip

# turborepo
.turbo

# env (never commit secrets)
.env
.env*.local

# rendered email previews (yarn email:preview)
.email-preview

# misc
*.tsbuildinfo
.DS_Store
*.log
coverage

#sql
supabase/reset-admin-password.sql
supabase/reset-client-password.sql
supabase/reset-vendor-password.sql
